<div class="card">
  <div class="card-header" style="background-color: #007edb;">
    Deal Offers List
  </div>
  <div class="card-body">
    <div class="container custom-container-2">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <img
                src="http://localhost:8000/uploads/{{ image }}"
                width="80px"
                class="img-fluid"
                alt="deal"
              />
            </td>

            <td>
              Company Name:<br /><b>{{ companyName }}</b>
            </td>

            <td>
              Address:<br /><b>{{ Address }}</b>
            </td>
          </tr>
          <tr>
            <td>
              Email:<br /><b>{{ email }}</b>
            </td>

            <td>
              Created At:<br /><b>{{ created_at | date }}</b>
            </td>

            <td>
              updated_at:<br /><b>{{ updated_at | date }}</b>
            </td>
          </tr>
          <tr>
            <td>
              Phone no:<br /><b>{{ telephone }}</b>
            </td>

            <td>
              AmountToRaise :<br />
              <b>{{ AmountToRaise }}</b>
            </td>

            <td>
              Rating:<br />
              <ngb-rating rate="{{ rating }}">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100"
                    >&#9733;</span
                  >
                </ng-template>
              </ngb-rating>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Show it when there is no offer -->
      <div class="no-data text-center" *ngIf="Offer.length == 0">
        <div class="alert alert-danger">
          <strong>There is no Offer(s) for this Deal!</strong>
        </div>
      </div>

      <!-- Offers list table, it hides when there is no offer -->
      <div *ngIf="Offer.length !== 0">
        <div class="alert alert-success">
          <strong>{{ Offer.length }} </strong>Offer(s) for this Deal
        </div>
        <div class="table-responsive-lg">
          <table class="table table-bordered table-striped ">
            <thead>
              <tr>
                <th scope="col">Created Date</th>
                <th scope="col">Offered Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let offer of Offer
                    | paginate: { itemsPerPage: count, currentPage: p }
                "
              >
                <td>{{ offer.updated_at | date }}</td>
                <td>{{ offer.offer_amount }}</td>
                <td>
                  <span *ngIf="offer.status == 0" class="label-primary"
                    >Pending
                  </span>
                  <span *ngIf="offer.status == 1" class="label-success"
                    >Approved
                  </span>

                  <span *ngIf="offer.status == 2" class="label-danger"
                    >Rejected
                  </span>
                </td>
                <td>
                  <span
                    class="btn btn-success mr-1"
                    routerLink="/dealdetails/{{ offer.deal_id }}"
                    ><i class="fa fa-share"></i>
                  </span>
                  <span
                    *ngIf="offer.status == 0"
                    class="btn btn-primary mr-1"
                    (click)="ConfirmOffer(offer.id)"
                  >
                    Accept
                  </span>

                  <span
                    *ngIf="offer.status == 0"
                    class="btn btn-danger mr-1"
                    (click)="rejectOffer(offer.id)"
                    >Reject
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div *ngIf="display" style="margin:auto;padding-left: 45%;">
          <app-intersecting-circles-spinner
            [animationDuration]="1200"
            [size]="70"
            [color]="'#ff1d5e'"
          ></app-intersecting-circles-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
