<div class="card">
  <div class="card-header" style="background-color: #007edb;">
    Deal Details
  </div>
  <div class="container-fluid">
    <div class="row">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <img
                src="http://localhost:8000/uploads/{{ image }}"
                alt="Company Logo"
                width="100px"
              />
            </td>
            <td>
              <span class="label2"
                ><label> Name</label><br />{{ companyName }}</span
              >
            </td>
          </tr>
          <tr>
            <td>
              <span class="label2"
                ><label>Company Industry</label><br />{{
                  companyIndustry
                }}</span
              >
            </td>
            <td>
              <span class="label2"
                ><label>Company Industry</label><br />{{ companyType }}</span
              >
            </td>
          </tr>

          <tr>
            <td>
              <span class="label2"
                ><label>Company Address</label><br />
                {{ Address }}</span
              >
            </td>
            <td>
              <span class="label2"
                ><label>Company Tel:</label><br />{{ telephone }}</span
              >
            </td>
          </tr>

          <tr>
            <td>
              <span class="label2"
                ><label>Amount Needed</label><br />
                {{ AmountToRaise }}</span
              >
            </td>
            <td>
              <span class="label2">
                <label>Date</label><br />{{ updated_at | date }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="onClose()"
      data-dismiss="modal"
    >
      Close
    </button>
  </div>
</div>
