<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">
          Scale up your business by Registering Here
        </h1>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-10 mx-auto">
        <!-- <form> -->
        <div class="form-row">
          <div class="col-12 col-md-4 mb-2 mb-md-0">
            <select
              class="form-control-lg"
              style="width: 100%;"
              [(ngModel)]="selectedIndustry"
            >
              <option value="">All Industry</option>
              <option value="Agriculture">Agriculture</option>
              <option value="Construction">Construction</option>
              <option value="Education">Education</option>
              <option value="Health">Health</option>
              <option value="Manufacturing">Manufacturing</option>
              <option value="Technology">Technology</option>
              <option value="Tourism">Tourism</option>
              <option value="Trade">Trade</option>
              <option value="Transport">Transport</option>
            </select>
          </div>
          <div
            class="col-12 col-md-4 mb-2 mb-md-0"
            style="padding-bottom: 0px; margin-bottom: 0px;"
          >
            <select
              class=" form-control-lg"
              style="width: 100%;"
              [(ngModel)]="selectedLocation"
            >
              <option value=""> All Location</option>
              <option value="KAMPALA">Kampala</option>
              <option value="BUNDIBUGYO">Bundibugyo</option>
              <option value="MUBENDE">Mubende</option>
              <option value="HOIMA">Hoima</option>
              <option value="GULU">Gulu</option>
              <option value="FORT PORTAL">Fort Portal</option>
              <option value="KASESE">Kasese</option>
              <option value="MASAKA">Masaka</option>
            </select>
          </div>

          <div class="col-12 col-md-4 mb-2 mb-md-0">
            <button
              type="submit"
              class="btn  btn-primary btn-lg btn-block"
              (click)="search()"
            >
              Search
            </button>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</header>
<section class="featured-blog mtb-40">
  <h2 class="deals-head">Latest deals</h2>
  <div class="container">
    <div class="" *ngIf="Deal3.length == 0" style="text-align: center;">
      <div class="alert alert-info">
        <p>{{ empty }}</p>
      </div>
    </div>

    <div class="row" *ngIf="Deal3.length !== 0">
      <div
        class="col-md-4"
        *ngFor="
          let deal of Deal3 | paginate: { itemsPerPage: count, currentPage: p }
        "
      >
        <div class="blog-box" style=" margin-bottom: 40px;">
          <img
            src="http://localhost:8000/uploads/{{ deal.image }}"
            alt="deal"
          />
          <div style="text-align: center;">
            <label class="label">{{ deal.companyName }}</label>
          </div>
          <div style="text-align: center;">
            <p>
              Needs
              <span> {{ deal.AmountToRaise }}</span> Uganda Shillings<br />
              Expires in
              <span
                class="badge badge-pill badge-danger"
                style="color: white;"
                >{{ backDays(deal.updated_at) }}</span
              >
              Day(s) time
            </p>
            <p>{{ deal.detailedDescription }}</p>
          </div>

          <div style="text-align: center;">
            <a routerLink="/login" class="btn btn-info ">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</section>
<app-back-to-top
  [acceleration]="2"
  [animate]="true"
  [scrollDistance]="50"
  [speed]="50"
>
</app-back-to-top>
