<div class="login-form">
  <div class="">
    <div class="login-details">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Sign in</h2>
        <div class="alert alert-danger" [hidden]="!error">
          {{ error }}
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="inputEmail3"
            placeholder="Email"
            [(ngModel)]="form.email"
            required
          />
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="inputPassword3"
            placeholder="Password"
            [(ngModel)]="form.password"
            required
          />
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary login-btn btn-block"
            [disabled]="!loginForm.valid"
          >
            Sign in
          </button>
        </div>
        <div *ngIf="display" style="margin:auto;padding-left: 45%;">
          <app-looping-rhombuses-spinner
            [animationDuration]="2500"
            [rhombusSize]="15"
            [color]="'#4169E1'"
          ></app-looping-rhombuses-spinner>
        </div>
        <div class="clearfix">
          <a routerLink="/passwordreset" class="pull-right">Forgot Password?</a>
        </div>
        <small class="float-right"> </small>
      </form>
      <p class="text-center text-muted small">
        Don't have an account? <a routerLink="/signup">Sign up here!</a>
      </p>
    </div>
  </div>
</div>
