<div class="card">
  <div class="card-header" style="background-color: #007edb;">
    Deal Details
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="display" style="margin:auto;padding-left: 45%;">
          <app-intersecting-circles-spinner
            [animationDuration]="1200"
            [size]="70"
            [color]="'#4169E1'"
          ></app-intersecting-circles-spinner>
        </div>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td colspan="2">
                <img
                  src="http://localhost:8000/uploads/{{ image }}"
                  alt="Company Logo"
                />
              </td>
            </tr>
            <tr>
              <td><label> Name</label></td>
              <td>
                <span class="label2">{{ companyName }}</span>
              </td>
            </tr>
            <tr>
              <td><label>Company Industry</label></td>
              <td>
                <span class="label2">{{ companyIndustry }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <label>Company Address</label>
              </td>
              <td>
                <span class="label2"> {{ Address }}</span>
              </td>
            </tr>
            <tr>
              <td><label>Company Tel:</label></td>
              <td>
                <span class="label2">{{ telephone }}</span>
              </td>
            </tr>
            <tr>
              <td><label>Amount Needed</label></td>
              <td>
                <span class="label2"> {{ AmountToRaise }}</span>
              </td>
            </tr>
            <tr>
              <td><label>Start Date</label></td>
              <td>
                <span class="label2"> {{ created_at | date }}</span>
              </td>
            </tr>
            <tr>
              <td><label>Updated Date</label></td>
              <td>
                <span class="label2"> {{ updated_at | date }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div style="margin-top:30px;">
          <span class="label">Verified existing documents</span>
          <div
            class="no-data text-center"
            *ngIf="documents.length == 0"
            class="alert alert-info"
          >
            <p>There is no Verified documents yet!</p>
          </div>
          <ul>
            <li *ngFor="let doc of documents">
              {{ doc }}
            </li>
          </ul>
          <span class="label"> Rating:</span><br />
          <ngb-rating rate="{{ rating }}">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <hr />
          <br />
          <span class="label">Detailed Deal Description</span>
          <p>{{ detailedDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
