<div role="document">
  <div>
    <form
      class="form-horizontal"
      id="add-form"
      [formGroup]="registerOffer"
      (ngSubmit)="addNewOffer(id)"
    >
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="add-modal-label">Add Post</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="offer_amount">Offer Amount:</label>
          <input
            type="text"
            formControlName="offer_amount"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.offer_amount.errors
            }"
          />
          <div
            *ngIf="submitted && registerOffer.controls['offer_amount'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerDeal.controls['offer_amount'].errors.required">
              Offer Amount is required
            </div>
          </div>
          <small class="form-text text-muted"
            ><i
              class="fa fa-info-circle fa-lg"
              data-toggle="tooltip"
              data-placement="top"
              title="This is the Amount of money you are willing to offer
                       "
            ></i
          ></small>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="onClose()"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
