<!-- Main Content Section -->
<section class="page-section" id="main-content">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-lg-8 ">
        <h4>How it works</h4>

        <ol class="list">
          <li>Browse the website</li>
          <li>Find what you want</li>
          <li>Click on read more</li>
          <li>Register/Login to confirm your participation</li>
          <li>
            You will need to be verified by the administrator to access some
            functionalities
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
