<div class="card">
  <div class="card-header" style="background-color: #007edb;">
    Deal List
  </div>
  <div class="card-body">
    <div class="container custom-container-2">
      <!-- Show it when there is no deal-->
      <div class="no-data text-center" *ngIf="Deal.length == 0">
        <p>There is no Deal added yet!</p>
        <button class="btn btn-outline-primary" routerLink="/adddeal">
          Add Deal
        </button>
      </div>

      <!-- deal list table, it hides when there is no deal -->
      <div *ngIf="Deal.length !== 0">
        <div class="table-responsive-lg">
          <table class="table table-bordered table-striped ">
            <thead>
              <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Created Date</th>
                <th scope="col">Phone No</th>
                <th scope="col">Email</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let deal of Deal
                    | paginate: { itemsPerPage: count, currentPage: p }
                "
              >
                <td>{{ deal.companyName }}</td>

                <td>{{ deal.created_at | date }}</td>
                <td>{{ deal.telephone }}</td>
                <td>{{ deal.email }}</td>
                <td>{{ deal.AmountToRaise }}</td>
                <td class="text-center edit-block">
                  <span
                    class="btn btn-outline-primary mr-1"
                    routerLink="/deal-offers/{{ deal.id }}"
                    >Offers
                  </span>
                  <span
                    class="btn btn-primary mr-1"
                    routerLink="/dealdetails/{{ deal.id }}"
                    ><i class="fa fa-share"></i>
                  </span>

                  <span
                    class="btn btn-success mr-1"
                    style="margin: 2px;"
                    routerLink="/editdeal/{{ deal.id }}"
                    ><i class="fa fa-edit"></i>
                  </span>
                  <span
                    class="btn btn-danger mr-1"
                    (click)="deleteDeal(deal.id)"
                    ><i class="fa fa-trash"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <div *ngIf="display" style="margin:auto;padding-left: 45%;">
      <app-intersecting-circles-spinner
        [animationDuration]="1200"
        [size]="70"
        [color]="'#4169E1'"
      ></app-intersecting-circles-spinner>
    </div>
  </div>
</div>
