<!--  Entreprenuer Validation Form-->
<div class="card">
  <div class="card-header" style="background-color: #007edb;">
    Create a new Deal
  </div>
  <div class="card-body">
    <div id="main_warpper">
      <!-- Bootstrap Container -->
      <div class="container-fluid">
        <!-- First form row -->
        <form
          [formGroup]="registerDeal"
          (ngSubmit)="onSubmit(registerDeal.value)"
        >
          <div class="row">
            <div class="col-sm-6">
              <!-- The Company Deatils Section -->

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="companyName">Company Name:</label>
                  <input
                    type="text"
                    formControlName="companyName"
                    class="form-control"
                    oninput="this.value = this.value.toUpperCase()"
                    [ngClass]="{
                      'is-invalid': submitted && f.companyName.errors
                    }"
                  />
                  <div
                    *ngIf="
                      submitted && registerDeal.controls['companyName'].errors
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        registerDeal.controls['companyName'].errors.required
                      "
                    >
                      Company Name is required
                    </div>
                  </div>
                  <small class="form-text text-muted"
                    ><i
                      class="fa fa-info-circle fa-lg"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="This is the official name, as with Companies House, and will be
                          used on legal documentation like MOU"
                    ></i
                  ></small>
                </div>
              </div>
              <div class="form-group ">
                <label for="Email">Email:</label>
                <input
                  formControlName="companyEmail"
                  class="form-control"
                  placeholder=""
                  type="email"
                  [ngClass]="{
                    'is-invalid': submitted && f.companyEmail.errors
                  }"
                />
                <div
                  *ngIf="
                    submitted && registerDeal.controls['companyEmail'].errors
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      registerDeal.controls['companyEmail'].errors.required
                    "
                  >
                    Email is required
                  </div>
                  <div
                    *ngIf="registerDeal.controls['companyEmail'].errors.email"
                  >
                    Email must be a valid email address
                  </div>
                </div>
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="+256 78543213"
                  ></i
                ></small>
              </div>
              <div class="form-group ">
                <label for="phoneNumber">Phone Number:</label>
                <input
                  formControlName="companyTel"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.companyTel.errors
                  }"
                  type="tel"
                />
                <div
                  *ngIf="registerDeal.controls['companyTel'].errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="registerDeal.controls['companyTel'].errors.required"
                  >
                    Telephone is required
                  </div>
                  <div
                    *ngIf="registerDeal.controls['companyTel'].errors.pattern"
                  >
                    Enter a Number
                  </div>
                  <div
                    *ngIf="registerDeal.controls['companyTel'].errors.maxLength"
                  >
                    Tel Must be less than 13 Characters
                  </div>
                  <div
                    *ngIf="registerDeal.controls['companyTel'].errors.minLength"
                  >
                    Tel Must be greater than 10 Characters
                  </div>
                </div>
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="+256 78543213"
                  ></i
                ></small>
              </div>
              <div class="form-group ">
                <label for="inputAddress">Address Location:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="companyAddress"
                  oninput="this.value = this.value.toUpperCase()"
                  [ngClass]="{
                    'is-invalid': submitted && f.companyAddress.errors
                  }"
                />
                <div
                  *ngIf="registerDeal.controls['companyAddress'].errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      registerDeal.controls['companyAddress'].errors.required
                    "
                  >
                    Address is required
                  </div>
                </div>
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="This is the Company Address and Location"
                  ></i
                ></small>
              </div>

              <!-- </form> -->
            </div>
            <!-- Raise Money Details Section -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCompanyType" style="display: block;"
                  >Company Type:</label
                >
                <select
                  class="form-control"
                  class="custom-select d-block w-100"
                  (change)="changeCompanyType($event)"
                  formControlName="companyType"
                  [ngClass]="{
                    'is-invalid': submitted && f.companyType.errors
                  }"
                >
                  <option value="Public company">Public company</option>
                  <option value="Government agency">Government agency</option>
                  <option value="Privately held">Privately held</option>
                  <option value="Partnership">Partnership</option>
                </select>
                <div
                  *ngIf="registerDeal.controls['companyType'].errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="registerDeal.controls['companyType'].errors.required"
                  >
                    Company Type is required
                  </div>
                </div>
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Chooose the Company Type"
                  ></i
                ></small>
              </div>

              <div class="form-group ">
                <label for="inputIndustry">Company Industry:</label>
                <select
                  class="form-control"
                  class="custom-select d-block w-100"
                  formControlName="companyIndustry"
                  (change)="changeCompanyIndustry($event)"
                  name="companyIndustry"
                  [ngClass]="{
                    'is-invalid': submitted && f.companyIndustry.errors
                  }"
                >
                  <option value="Agriculture">Agriculture</option>
                  <option value="Technology">Technology</option>
                  <option value="Tourism">Tourism</option>
                  <option value="Health">Health</option>
                  <option value="Education">Education</option>
                  <option value="Manufacturing">Manufacturing</option>
                  <option value="Trade">Trade</option>
                  <option value="Transport">Transport</option>
                  <option value="Construction">Construction</option>
                  <option value="Others">Others</option>
                </select>
                <div
                  *ngIf="registerDeal.controls['companyIndustry'].errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      registerDeal.controls['companyIndustry'].errors.required
                    "
                  >
                    Company Industry is required
                  </div>
                </div>

                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Choose the Company Industry"
                  ></i
                ></small>
              </div>
              <div class="form-group ">
                <label for="phoneNumber">Amount to Raise: </label>
                <input
                  formControlName="raisedAmount"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.raisedAmount.errors
                  }"
                />
                <div
                  *ngIf="registerDeal.controls['raisedAmount'].errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      registerDeal.controls['raisedAmount'].errors.required
                    "
                  >
                    Amount to be Raised is required
                  </div>

                  <div
                    *ngIf="registerDeal.controls['raisedAmount'].errors.pattern"
                  >
                    Enter a Number
                  </div>
                  <div
                    *ngIf="
                      registerDeal.controls['raisedAmount'].errors.maxLength
                    "
                  >
                    Tel Must be less than 12 Characters
                  </div>
                  <div
                    *ngIf="
                      registerDeal.controls['raisedAmount'].errors.minLength
                    "
                  >
                    Must be greater than 4 Characters
                  </div>
                </div>
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Enter the minimum amount of money the business want to
                          raise?"
                  ></i
                ></small>
              </div>
              <div class="form-group ">
                <label for="rateDeal">Rate Deal (1- 5):</label>
                <select
                  class="form-control"
                  class="custom-select d-block w-100"
                  formControlName="rateDeal"
                >
                  <option selected>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>

                  >
                </select>

                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Rate the deal an the scale of 1 to 5"
                  ></i
                ></small>
              </div>
            </div>
          </div>
          <hr />
          <!-- Second Form Row -->
          <div class="row">
            <div class="col-sm-6">
              <legend class="lagend">Deal Details</legend>

              <div class="mb-3">
                <label for="validationTextarea" for="companyDesc"
                  >Deal Detailed Description</label
                >
                <textarea
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.DealDetailedDesc.errors
                  }"
                  formControlName="DealDetailedDesc"
                ></textarea>
                <div
                  *ngIf="registerDeal.controls['DealDetailedDesc'].errors"
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      registerDeal.controls['DealDetailedDesc'].errors.required
                    "
                  >
                    Company/Deal Description is required
                  </div>
                </div>
                <small class="form-text text-muted"
                  ><i
                    class="fa fa-info-circle fa-lg"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Enter detailed Description of the deal Here"
                  ></i
                ></small>
              </div>
            </div>
            <!-- Second colum of the second row -->
            <div class="col-sm-6">
              <legend class="lagend">Company Documents</legend>
              <div class="form-group">
                <strong
                  ><label for="docsVerify"
                    >Which of the folowing Documents have you verified Exist
                    from the Business Owner?</label
                  ></strong
                >
              </div>
              <div class="custom-control custom-checkbox ">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                  formControlName="cbBp"
                />
                <label class="custom-control-label" for="customCheck1"
                  >Business Plan</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck2"
                  formControlName="cbMou"
                />
                <label class="custom-control-label" for="customCheck2"
                  >Memorandum of Understanding</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck3"
                  formControlName="cbCor"
                />
                <label class="custom-control-label" for="customCheck3"
                  >Certificate of Registration</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck4"
                  formControlName="cbFs"
                />
                <label class="custom-control-label" for="customCheck4"
                  >Financial Statement</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck5"
                  formControlName="cbCashflow"
                />
                <label class="custom-control-label" for="customCheck5"
                  >Cash flow Statement or Projects</label
                >
              </div>

              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck6"
                  formControlName="cbCd"
                />
                <label class="custom-control-label" for="customCheck6"
                  >Contract Document</label
                >
              </div>
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck7"
                  formControlName="cbAuditedAccounts"
                />
                <label class="custom-control-label" for="customCheck7"
                  >Certified or Audited Accounts</label
                >
              </div>
              <small class="form-text text-muted"
                ><i
                  class="fa fa-info-circle fa-lg"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Choose all the Documents you have verified from the Business Owner"
                ></i
              ></small>
            </div>
          </div>
          <!-- Buttons -->
          <div class="form-row">
            <div class="form-group" style=" margin: auto;">
              <button class="btn btn-success">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
