.card-header {
  background-color: #007edb;
  font-size: 20px;
  font-weight: bold;
  padding: auto;
  color: white;
}
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #ffb81e;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
