<div class="card" *ngIf="status == 0">
  <div class="card-header" style="background-color: #007edb;">
    Agent Dashboard
  </div>
  <div class="card-body">
    <!-- Bootstrap Container -->
    <div class="container-fluid">
      <div class="alert alert-info">
        <strong>!!!</strong> Wait for Verified to view this page
      </div>
    </div>
  </div>
</div>
<div *ngIf="status == 1">
  <div class="row">
    <!-- Item one -->
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-2 col-md-2">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-file-o text-info"></i>
              </div>
            </div>

            <div class="col-10 col-md-10">
              <div class="numbers">
                <p class="card-category">Deals in {{ year }}</p>
                <p class="card-title">{{ totalDealsThisYear }}</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Item Two -->
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-2 col-md-2">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-file-o text-warning"></i>
              </div>
            </div>
            <div class="col-10 col-md-10">
              <div class="numbers">
                <p class="card-category">Total Deals</p>
                <p class="card-title">{{ totalDeals }}</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Dasboard Overview -->
  <div class="row">
    <div class="col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="panel-title pull-left">
            <h5 class="card-title" style="color: black;">
              Overview {{ year }}
            </h5>
          </div>
          wdw
          <div class="panel-title pull-right">
            <form [formGroup]="angularForm" novalidate>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                  style="color: black;"
                  formControlName="date"
                  #date
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <button
                class="btn btn-primary btn-sm"
                [disabled]="!angularForm.valid"
                mat-button
                (click)="loadYearlyDeals()"
                style="margin-left: 4px; border: 2px solid #008CBA;color: black;  
               "
              >
                Submit
              </button>
            </form>
          </div>
        </div>
        <!-- chart-body -->
        <div class="card-body">
          <div *ngIf="display" style="margin:auto;padding-left: 45%;">
            <app-intersecting-circles-spinner
              [animationDuration]="1200"
              [size]="70"
              [color]="'#4169E1'"
            ></app-intersecting-circles-spinner>
          </div>
          <div *ngIf="Deal.length == 0" class="alert alert-info">
            <strong>!!!</strong> There is no Deals for this year
          </div>
          <canvas id="speedChart" width="400" height="150"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend" style="text-align: center;">
            <i class="fa fa-circle text-info"></i> Deals per Months
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
