<div>
  <!-- Masthead -->
  <header class="masthead text-white text-center" style="padding-top: 700;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"></h1>
        </div>
      </div>
    </div>
  </header>
  <div class="search text-white text-center">
    <div class="overlay"></div>
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h3 class="">Connect to Business Opportunities.</h3>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-10 mx-auto">
        <!-- <form> -->
        <div class="form-row">
          <div class="col-12 col-md-4 mb-2 mb-md-0">
            <select
              class="form-control-lg"
              style="width: 100%;"
              [(ngModel)]="selectedIndustry"
            >
              <option value="">All Industry</option>
              <option
                value="Commercial agriculture, Agro-processing and Value addition"
                >Commercial agriculture, Agro-processing and Value
                addition</option
              >
              <option
                value="Green Businesses, Renewable Energy and environmental conservation"
                >Green Businesses, Renewable Energy and environmental
                conservation</option
              >
              <option value="Information Technology and IT enabled services"
                >Information Technology and IT enabled services</option
              >
              <option value="Tourism opportunities"
                >Tourism opportunities</option
              >
              <option value="Health and pharmaceuticals"
                >Health and pharmaceuticals</option
              >
              <option value="Education">Education</option>
              <option value="Real Estate,Construction and affordable housing"
                >Real Estate,Construction and affordable housing</option
              >
              <option value="Manufacturing">Manufacturing</option>
            </select>
          </div>
          <div
            class="col-12 col-md-4 mb-2 mb-md-0"
            style="padding-bottom: 0px; margin-bottom: 0px;"
          >
            <select
              class=" form-control-lg"
              style="width: 100%;"
              [(ngModel)]="selectedLocation"
            >
              <option value=""> All Location</option>
              <option value="KAMPALA">Kampala</option>
              <option value="BUNDIBUGYO">Bundibugyo</option>
              <option value="MUBENDE">Mubende</option>
              <option value="HOIMA">Hoima</option>
              <option value="GULU">Gulu</option>
              <option value="FORT PORTAL">Fort Portal</option>
              <option value="KASESE">Kasese</option>
              <option value="Masaka">Masaka</option>
            </select>
          </div>

          <div class="col-12 col-md-4 mb-2 mb-md-0">
            <button
              type="submit"
              class="btn  btn-primary btn-lg btn-block"
              (click)="search()"
            >
              Search
            </button>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
<section class="featured-blog mtb-40">
  <h2 class="deals-head">Latest deals</h2>
  <div class="container">
    <div class="" *ngIf="Deal3.length == 0" style="text-align: center;">
      <div class="alert alert-info">
        <p>{{ empty }}</p>
      </div>
    </div>
    <div class="row" *ngIf="Deal3.length !== 0">
      <div class="col-md-4" *ngFor="let deal of Deal3; let i = index">
        <div
          class="blog-box"
          style=" margin-bottom: 40px; padding-bottom: 10px;"
        >
          <img
            src="http://3.91.247.160/uploads/{{ deal.image }}"
            class="img-fluid"
            alt="Loading..."
            style="object-fit: cover;"
          />
          <div style="text-align: center;">
            <label class="label">{{ deal.companyName }}</label>
          </div>
          <ngb-rating rate="{{ deal.rating }}">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <div style="text-align: center;">
            <p>
              Needs
              <span> {{ deal.AmountToRaise }}</span> Uganda Shillings<br />
              Expires in
              <span
                class="badge badge-pill badge-danger"
                style="color: white;"
                >{{ backDays(deal.updated_at) }}</span
              >
              Day(s) time
            </p>
            <div style="margin:10px">
              <p class="b">{{ deal.detailedDescription }}</p>
            </div>
          </div>

          <div style="text-align: center;">
            <a routerLink="/login" class="btn btn-info ">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="display" style="margin:auto;padding-left: 45%;">
      <app-half-circle-spinner
        [animationDuration]="1000"
        [size]="60"
        [color]="'#4169E1'"
      ></app-half-circle-spinner>
    </div>
  </div>
</section>

<app-back-to-top
  [acceleration]="2"
  [animate]="true"
  [scrollDistance]="50"
  [speed]="50"
>
</app-back-to-top>
